.page {
  background: #000;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  outline: 1px solid salmon;
}

.page__body {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 60px;
}
.header {
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}
.header__logo {
  width: 11.09vw;
  padding-bottom: 37px;
}
.container {
  box-sizing: border-box;
  padding: 40px 0 66px;
}
.profile {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  align-items: center;
}
.profile__container {
  display: flex;
}
.profile__avatar {
  width: 120px;
  height: 120px;
}
.profile__avatar-img {
  width: 100%;
  border-radius: 50%;
}
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  padding-left: 30px;
  padding-right: 14px;
  max-width: 431px;
}
.profile__title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 312px;
}
.profile__edit-button {
  margin-top: 37px;
  background-color: #000;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
.profile__add-button {
  position: relative;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.profile__add-button-plus::before,
.profile__add-button-plus::after {
  content: "";
  position: absolute;
  top: 46.75%;
  left: 42.47%;
  width: 22px;
  height: 3px;
  background: #fff;
}
.profile__add-button-plus::before {
  transform: rotate(90deg);
}
.elements {
  padding-top: 50px;
}
.elements__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}
.elements__item {
}
.item {
  display: flex;
  flex-direction: column;
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
}
.item__image {
  margin: 0;
  padding: 0;
  max-width: 100%;
  object-fit: cover;
}
.item__container {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 21px;
  background-color: #fff;
}
.item_title {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.item__like-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 19px;
  box-sizing: border-box;
}
.item__like {
  border: none;
  background: url(../img/like.svg) center no-repeat;
  background-size: 100%;
  height: 19px;
  width: 22px;

}


.footer {
}
.footer__copyright {
}
