.popup__form-name {
  color: #000;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  outline: none;
}
