.popup__form-name {
  color: #000;
  padding-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  border-top: none;
  border-left:none;
  border-right: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}
