.profile__add-button {
  width: 150px;
  align-items: center;
  height: 50px;
  border: 2px solid #fff;
  background-color: #000;
  margin-left: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../img/button-plus.png) center/16px 16px no-repeat;
  cursor: pointer;
  transition: 0.3s;
}
.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 760px) {
  .profile__add-button {
    width: 100%;
    align-items: center;
    margin-top: 36px;
  }
}
@media screen and (max-width: 568px) {
  .profile__add-button {
    margin: 0;
  }
}