.popup__button-close {
  background: url(../../../img/Close\ Icon.svg) 0 0/100% no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -46px;
  right: -40px;
  cursor: pointer;
  transition: .2s;
}
@media screen and (max-width: 568px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -39px;
    right: 0;
  }
}
.popup__button-close:hover {
  opacity: 0.6;
}
