.sumblavam {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  transition: 0.4s;

}

.sumblavam:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 4.8px;
  background-color: #000000;
  transition: 0.4s;
}

input:checked + .sumblavam {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
}

input:focus + .sumblavam {
  box-shadow: 0 0 1px #464946;
}

input:checked + .sumblavam:before {
  transform: translateX(22px);
}

.sumblavam.alemen {
  border-radius: 20px;
}

.sumblavam.alemen:before {
  border-radius: 50%;
}
