/*Global styles*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
/*Page*/
@import url(../blocks/container/container.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__body/page__body.css);
/*Header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/*Profile*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title-container/profile__title-container.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar-img/profile__avatar-img.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
/*Elements*/
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__container/elements__container.css);
@import url(../blocks/elements/__item/elements__item.css);
@import url(../blocks/item/item.css);
@import url(../blocks/item/__container/item__container.css);
@import url(../blocks/item/__image/item__image.css);
@import url(../blocks/item/__like/item__like.css);
@import url(../blocks/item/__like/_active/item__like_active.css);
@import url(../blocks/item/__title/item__title.css);
/* Footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/* Popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__form-name/popup__form-name.css);
@import url(../blocks/popup/__form-activity/popup__form-activity.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
