  .header__container {
    width: 100%;
      display: flex;
  justify-content: space-between;
  align-items: top;
    }
@media screen and (max-width: 910px) {
  .header__container {
    width: 88.13%;
  margin: 0 auto;
  }
}
