.item__like {
  position: absolute;
  top: 31px;
  right: 20px;
  border: none;
  background: url(../../../img/like.svg) center/100% no-repeat;
  height: 19px;
  width: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.item__like:hover {
  opacity: 0.5;
}
